# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Samples.iml
# Datasource local storage ignored files
/../../../../../../../:\TMS\Занятие 8\Samples\.idea\.idea.Samples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
